# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Hide sublime text stuff
*.sublime-project
*.sublime-workspace

# Intellij Idea
.idea

# Hide some OS X stuff
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.esphome
nosetests.xml
coverage.xml
cov.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/

.pioenvs
.piolibdeps
.pio
.vscode/
!.vscode/tasks.json
CMakeListsPrivate.txt
CMakeLists.txt

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/dynamic.xml

# CMake
cmake-build-debug/
cmake-build-release/

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
/*.cbp

.clang_complete
.gcc-flags.json

config/
tests/build/
tests/.esphome/
/.temp-clang-tidy.cpp
.pio/
test_dimmer/platformio.ini
test_dimmer/src/dimmer_functions.h
test_dimmer/src/esphome.h
test_dimmer/src/main.cpp
test_dimmer/src/esphome/README.txt
test_dimmer/src/esphome/components/api/api_connection.cpp
test_dimmer/src/esphome/components/api/api_connection.h
test_dimmer/src/esphome/components/api/api_pb2_service.cpp
test_dimmer/src/esphome/components/api/api_pb2_service.h
test_dimmer/src/esphome/components/api/api_pb2.cpp
test_dimmer/src/esphome/components/api/api_pb2.h
test_dimmer/src/esphome/components/api/api_server.cpp
test_dimmer/src/esphome/components/api/api_server.h
test_dimmer/src/esphome/components/api/custom_api_device.h
test_dimmer/src/esphome/components/api/homeassistant_service.h
test_dimmer/src/esphome/components/api/list_entities.cpp
test_dimmer/src/esphome/components/api/list_entities.h
test_dimmer/src/esphome/components/api/proto.cpp
test_dimmer/src/esphome/components/api/proto.h
test_dimmer/src/esphome/components/api/subscribe_state.cpp
test_dimmer/src/esphome/components/api/subscribe_state.h
test_dimmer/src/esphome/components/api/user_services.cpp
test_dimmer/src/esphome/components/api/user_services.h
test_dimmer/src/esphome/components/api/util.cpp
test_dimmer/src/esphome/components/api/util.h
test_dimmer/src/esphome/components/binary_sensor/automation.cpp
test_dimmer/src/esphome/components/binary_sensor/automation.h
test_dimmer/src/esphome/components/binary_sensor/binary_sensor.cpp
test_dimmer/src/esphome/components/binary_sensor/binary_sensor.h
test_dimmer/src/esphome/components/binary_sensor/filter.cpp
test_dimmer/src/esphome/components/binary_sensor/filter.h
test_dimmer/src/esphome/components/captive_portal/captive_portal.cpp
test_dimmer/src/esphome/components/captive_portal/captive_portal.h
test_dimmer/src/esphome/components/esp8266_pwm/esp8266_pwm.cpp
test_dimmer/src/esphome/components/esp8266_pwm/esp8266_pwm.h
test_dimmer/src/esphome/components/globals/globals_component.h
test_dimmer/src/esphome/components/gpio/binary_sensor/gpio_binary_sensor.cpp
test_dimmer/src/esphome/components/gpio/binary_sensor/gpio_binary_sensor.h
test_dimmer/src/esphome/components/gpio/output/gpio_binary_output.cpp
test_dimmer/src/esphome/components/gpio/output/gpio_binary_output.h
test_dimmer/src/esphome/components/interval/interval.h
test_dimmer/src/esphome/components/json/json_util.cpp
test_dimmer/src/esphome/components/json/json_util.h
test_dimmer/src/esphome/components/light/addressable_light_effect.h
test_dimmer/src/esphome/components/light/addressable_light.cpp
test_dimmer/src/esphome/components/light/addressable_light.h
test_dimmer/src/esphome/components/light/automation.h
test_dimmer/src/esphome/components/light/base_light_effects.h
test_dimmer/src/esphome/components/light/light_color_values.h
test_dimmer/src/esphome/components/light/light_effect.h
test_dimmer/src/esphome/components/light/light_output.h
test_dimmer/src/esphome/components/light/light_state.cpp
test_dimmer/src/esphome/components/light/light_state.h
test_dimmer/src/esphome/components/light/light_traits.h
test_dimmer/src/esphome/components/light/light_transformer.h
test_dimmer/src/esphome/components/logger/logger.cpp
test_dimmer/src/esphome/components/logger/logger.h
test_dimmer/src/esphome/components/monochromatic/monochromatic_light_output.h
test_dimmer/src/esphome/components/mqtt/custom_mqtt_device.cpp
test_dimmer/src/esphome/components/mqtt/custom_mqtt_device.h
test_dimmer/src/esphome/components/mqtt/mqtt_binary_sensor.cpp
test_dimmer/src/esphome/components/mqtt/mqtt_binary_sensor.h
test_dimmer/src/esphome/components/mqtt/mqtt_client.cpp
test_dimmer/src/esphome/components/mqtt/mqtt_client.h
test_dimmer/src/esphome/components/mqtt/mqtt_climate.cpp
test_dimmer/src/esphome/components/mqtt/mqtt_climate.h
test_dimmer/src/esphome/components/mqtt/mqtt_component.cpp
test_dimmer/src/esphome/components/mqtt/mqtt_component.h
test_dimmer/src/esphome/components/mqtt/mqtt_cover.cpp
test_dimmer/src/esphome/components/mqtt/mqtt_cover.h
test_dimmer/src/esphome/components/mqtt/mqtt_fan.cpp
test_dimmer/src/esphome/components/mqtt/mqtt_fan.h
test_dimmer/src/esphome/components/mqtt/mqtt_light.cpp
test_dimmer/src/esphome/components/mqtt/mqtt_light.h
test_dimmer/src/esphome/components/mqtt/mqtt_sensor.cpp
test_dimmer/src/esphome/components/mqtt/mqtt_sensor.h
test_dimmer/src/esphome/components/mqtt/mqtt_switch.cpp
test_dimmer/src/esphome/components/mqtt/mqtt_switch.h
test_dimmer/src/esphome/components/mqtt/mqtt_text_sensor.cpp
test_dimmer/src/esphome/components/mqtt/mqtt_text_sensor.h
test_dimmer/src/esphome/components/ota/ota_component.cpp
test_dimmer/src/esphome/components/ota/ota_component.h
test_dimmer/src/esphome/components/output/automation.cpp
test_dimmer/src/esphome/components/output/automation.h
test_dimmer/src/esphome/components/output/binary_output.h
test_dimmer/src/esphome/components/output/float_output.cpp
test_dimmer/src/esphome/components/output/float_output.h
test_dimmer/src/esphome/components/power_supply/power_supply.cpp
test_dimmer/src/esphome/components/power_supply/power_supply.h
test_dimmer/src/esphome/components/web_server/web_server.cpp
test_dimmer/src/esphome/components/web_server/web_server.h
test_dimmer/src/esphome/components/web_server_base/web_server_base.cpp
test_dimmer/src/esphome/components/web_server_base/web_server_base.h
test_dimmer/src/esphome/components/wifi/wifi_component_esp32.cpp
test_dimmer/src/esphome/components/wifi/wifi_component_esp8266.cpp
test_dimmer/src/esphome/components/wifi/wifi_component.cpp
test_dimmer/src/esphome/components/wifi/wifi_component.h
test_dimmer/src/esphome/core/application.cpp
test_dimmer/src/esphome/core/application.h
test_dimmer/src/esphome/core/automation.h
test_dimmer/src/esphome/core/base_automation.h
test_dimmer/src/esphome/core/color.h
test_dimmer/src/esphome/core/component.cpp
test_dimmer/src/esphome/core/component.h
test_dimmer/src/esphome/core/controller.cpp
test_dimmer/src/esphome/core/controller.h
test_dimmer/src/esphome/core/defines.h
test_dimmer/src/esphome/core/esphal.cpp
test_dimmer/src/esphome/core/esphal.h
test_dimmer/src/esphome/core/helpers.cpp
test_dimmer/src/esphome/core/helpers.h
test_dimmer/src/esphome/core/log.cpp
test_dimmer/src/esphome/core/log.h
test_dimmer/src/esphome/core/optional.h
test_dimmer/src/esphome/core/preferences.cpp
test_dimmer/src/esphome/core/preferences.h
test_dimmer/src/esphome/core/scheduler.cpp
test_dimmer/src/esphome/core/scheduler.h
test_dimmer/src/esphome/core/util.cpp
test_dimmer/src/esphome/core/util.h
test_dimmer/src/esphome/core/version.h
